<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- <<add name="PCMS_DbContext" connectionString="metadata=res://*/PCMS.csdl|res://*/PCMS.ssdl|res://*/PCMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:diligent-corp.database.windows.net,1433;initial catalog=PCMS_Database;;user id=Johnson;password=Diligent12;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="PCMS_DbContext" connectionString="metadata=res://*/PCMS.csdl|res://*/PCMS.ssdl|res://*/PCMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-RAJESH\SQLEXPRES;initial catalog=PCMS_Database;;user id=sa;password=silvermine;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>